beautifulsoup4
blinker
certifi
charset-normalizer
click
Flask
Flask-Cors
frozendict
html5lib
idna
itsdangerous
Jinja2
lxml
MarkupSafe
multitasking
numpy
pandas
peewee
platformdirs
python-dateutil
pytz
requests
six
soupsieve
tzdata
urllib3
webencodings
Werkzeug
yfinance
